{:paths ["src/cljs" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.0-alpha5"}
        org.clojure/clojurescript {:mvn/version "1.10.339"}
        prismatic/dommy           {:mvn/version "1.1.0"}
        com.cemerick/url          {:mvn/version "0.1.1"}
        hiccups     {:mvn/version "0.3.0"}
        hipo        {:mvn/version "0.5.2"}
        cljs-http   {:mvn/version "0.1.45"
                     :exclusions   [org.clojure/core.async]}
        roll        {:local/root "../roll"}}}

