@font-face {
    font-family: 'GothamRegular';
    src:url('../fonts/GothamRegular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GothamMedium';
    src:url('../fonts/GothamMedium.otf');
    font-weight: normal;
    font-style: normal;
}
